<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
    <link rel="stylesheet" href="../styles/feedback.css" />
    <script src="logic/database.js" defer></script>
    <script src="logic/timer.js" defer></script>
  </head>
  <body>
    <button class="backHome" onclick="location.href='/'">Back to Homepage</button>
  
    <div id="contactForm">
      <p> FIND OUT MORE </p>
      <h1>Contact Me</h1>
  
      <h4>First Name</h4>
      <input id="firstName" type="text" name="firstName" required />
  
      <h4>Second Name</h4>
      <input id="secondName" type="text" name="secondName" required />
  
      <h4>Company Name</h4>
      <input id="companyName" type="text" name="company" />
  
      <h4>Phone Number</h4>
      <input id="phone" type="tel" name="phone" />
  
      <h4>Email</h4>
      <input id="email" type="email" name="email" required />
  
      <h4>Message</h4>
      <textarea id="message" name="message" rows="4" required></textarea>
  
      <button class="submit">Submit</button>
    </div>
  </body>  
</html>
